# Don't track IDE config folders 
.idea
.vscode

# Don't track content of these folders
insemble-venv/
/insemble-venv
colin-venv/
/colin-venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

