# Basic settings to not track
*.pyc
/db.sqlite3
.DS_Store
*/settings/local.py
/staticfiles/*
/mediafiles/*
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# coverage result
.coverage
/coverage/

# Don't track IDE config folders
.idea
.vscode
.flake8

# data
*.dump
dump.rdb

# Node and npm stuff
node_modules/**/*
npm-debug.*
/package-lock.json

# Folders
.DS_Store

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/venv/
/output/
/cache/

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

# Other
insemble-venv/
/insemble-venv
colin-venv/
/colin-venv

# Apollo
/frontend/src/generated/*
