// Card adjustments

// Block handles
.card-header {
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $card-headings-font-weight;
  }

  .block-handle {
    position: absolute;
    background-image: url(data:image/svg+xml;base64,DELETED_BASE64_STRING);
    background-position: center center;
    background-size: 95%;
    width: 1.125rem;
    height: 0.5rem;
    top: 50%;
    right: 0.9375rem;
    transform: translateY(-50%);
    opacity: 0.15;

    &:hover {
      cursor: -webkit-grab;
    }
  }
}

.card .view-report {
  margin-top: auto;
  margin-bottom: auto;
  font-size: $card-view-report-font-size;

  a {
    color: $card-view-report-link-color;

    &:hover {
      color: $card-view-report-link-color-hover;
    }
  }
}

.outline-card {
  border: solid $primary-purple;
}

.card-container {
  position: absolute;
  top: 60%;
  left: 50%;
}
