// Main Stylesheet

// Overrides, probably move this to its own file as it grows
// Also, a bunch of style stuffs, notably the charts, are defined in src/utils .js files
$primary-purple: #634fa2 !default;
$primary: $primary-purple !default;

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// TODO: naming can be more generic since we'd be needing the pills wrap up elsewhere too
.describe-store__categories {
  flex-flow: row wrap;
  justify-content: space-between;
}

.describe-store__categories::after {
  content: "";
  flex: 10 1 auto;
}

.category-badge {
}

.category-badge:hover {
  border: 1px solid $primary !important;
  color: $primary !important;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
}

.category-badge__selected {
  border: 1px solid $primary !important;
}

.category-badge__selected:hover {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.125);
}

// TODO: for debug. remove later
.bg-pink {
  background-color: pink;
}

// Main SDP Styles
@import '../styles/shards-dashboards';
@import '../styles/landing-template/scss/creative';

// Variables
@import './variables';

// Plugin Styles
@import './dropzone';
@import './quill';
@import './range-date-picker';
@import './file-manager-list';
@import './react-tagsinput';
@import './react-big-calendar';

@import '../styles/maps.scss';
